<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        {{ mcBook.metatags(book) }}
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="icon" href="https://www.gitbook.com/assets/images/logo/favicon.ico">
        <link rel="stylesheet" href="{{ "style.css"|assetUrl }}">
        {% block head %}{% endblock %}
    </head>
    <body>
    {% block body %}
        <div class="book">
            <!-- Cover -->
            <div class="cover">
                <img src="{{ book.cover.large }}" />
            </div>

            <!-- Actions -->
            <p>
                <a href="{{ book.urls.read }}" class="btn btn-primary btn-fill btn-lg btn-block">
                {% if book.price > 0 and not book.permissions.read %}Buy Now for ${{ book.price.toFixed(2) }}{% else %}Read Online{% endif %}
                </a>
            </p>
            {% if book.price > 0 and not book.permissions.read %}
            <p>By buying this book, You get unlimited access to the online version (with any browser), and ebook versions (ePub, Mobi and PDF).</p>
            {% else %}
            <p>You can also download this book as: <a href="{{ book.urls.download.epub }}" rel="nofollow">ePUB</a>, <a href="{{ book.urls.download.mobi }}" rel="nofollow">MOBI</a> or <a href="{{ book.urls.download.pdf }}" rel="nofollow">PDF</a>.</p>
            {% endif %}
        </div>
    {% endblock %}
    </body>
</html>