@import "../vendors/bootstrap/less/bootstrap.less";

.book {
    width: 100%;
    max-width: 350px;
    margin: 40px auto;


    .cover {
        margin-bottom: 15px;

        img {
            width: 100%;
            margin: 0px auto;
            display: block;
        }
    }
}