@import "../node_modules/gitbook-styleguide/less/main.less";
@gb-assets-path: "http://styleguide.gitbook.com/assets";

.book {
    width: 100%;
    max-width: 350px;
    margin: 0px auto;
    padding: 40px 0px;


    .cover {
        margin-bottom: 15px;

        img {
            width: 100%;
            margin: 0px auto;
            display: block;
            border: 1px solid #ddd;
        }
    }
}