{% macro metatags(_book) %}
    <title>{{ book.title }}</title>
    <meta name="description" content="{{ _book.description }}">
    <meta name="author" content="{{ _book.author.name }}">
    <meta itemprop="name" content="{{ _book.title }}" />
    <meta itemprop="description" content="{{ _book.description }}" />
    <meta itemprop="image" content="{{ _book.cover.small }}" />
    <meta property="books:rating:value" content="{{ _book.reviews.rating }}" />
    <meta property="books:rating:scale" content="{{ _book.reviews.rating }}" />
    <meta property="books:author" content="{{ _book.author.urls.profile }}" />
    {% for category in _book.categories %}
    <meta property="book:tag" content="{{ category|title }}">
    {% endfor %}
{% endmacro %}

{% macro readme(_book) %}
    {% for section in book.readme.content %}
        {% if section.type == "normal" %}<section>{% autoescape false %}{{ section.content }}{% endautoescape %}</section>{% endif %}
    {% endfor %}
{% endmacro %}
