@import "../vendors/bootstrap/less/bootstrap.less";
@import "../vendors/github-markdown-less/github-markdown.less";

@readme-padding: 20px;

body {
    color: #494b4d;
}

header {
    background-color: #4ca7bc;
    color: #FFF;
    margin-bottom: 40px;

    h1 {
        font-size: 28px;
        font-weight: 300;
        line-height: 1.5em;
        margin: 0px;
        padding: 25px 0px;
    }

    .languages {
        background: #f5f5f5;

        .breadcrumb {
            background: none;
            margin: 0px;
        }
    }
}

.cover {
    img {
        width: 100%;
        max-width: 400px;
        margin: 0px auto;
        display: block;

        @media (max-width: @screen-md) {
            margin-bottom: 30px;
        }
    }
}

.details {
    margin-bottom: 30px;

    .readme {
        section {
            .markdown-body();
            margin: @readme-padding;
        }
    }

    hr{
        &.small {
            width: 30%;
            margin: 30px auto;
            border-color: #000;
        }
        &.dashed {
            margin: 30px auto;
            border-style: dashed;
            border-color: #000;
        }
    }

    .tableofcontents {
        ul {
            list-style-type: circle;

            li {
                padding: 4px 0px;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
        }

        div {
            padding: 5px;
        }
    }
}
